<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.schoolshop.mapper.UserInfoMapper">
    <!--更新用户信息-->
    <update id="updateByUserInfo">
        update t_user
        <set>
            <if test="user.userId != null and user.userId != ''">
                user_id = #{user.userId},
            </if>
            <if test="user.phone != null and user.phone != ''">
                phone=#{user.phone},
            </if>
            <if test="user.userFace != null and user.userFace != ''">
                user_face = #{user.userFace}
            </if>
            <if test="user.password != null and user.password != ''">
                password=#{user.password},
            </if>
            <if test="user.userName != null and user.userName != ''">
                user_name=#{user.userName},
            </if>
            <if test="user.sex != null and user.sex != ''">
                sex=#{user.sex},
            </if>
            <if test="user.introduce != null and user.introduce != ''">
                introduce=#{user.introduce}
            </if>
        </set>
        where user_id = #{user.userId}
    </update>
    <!--注册用户信息-->
    <insert id="InsertUser">
        INSERT INTO t_user(`user_id`, `user_name`, `phone`, `password`)
        VALUES (#{userId}, #{userName}, #{phone}, #{password});
    </insert>
    <!--查询用户信息-->
    <select id="getByUserInfo" resultType="com.shop.schoolshop.pojo.User">
        select user_id,user_name,phone,sex,user_face,isVip,introduce
        from t_user
        <where>
            <if test="user.userId != null and user.userId != ''">
                user_id = #{user.userId}
            </if>
            <if test="user.password != null and user.password != ''">
                and password=#{user.password}
            </if>
            <if test="user.userName != null and user.userName != ''">
                and user_name = #{user.userName}
            </if>
            <if test="user.phone != null and user.phone != ''">
                and phone = #{user.phone}
            </if>
            <if test="user.sex != null and user.sex != ''">
                and sex = #{user.sex}
            </if>
            <if test="user.isVip != null and user.isVip != ''">
                and isVip = #{user.isVip}
            </if>
        </where>
    </select>
</mapper>