<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.schoolshop.mapper.UserMapper">
    <!--验证是否存在密码和账号-->
    <select id="getByphoneAndpassWord" resultType="com.shop.schoolshop.pojo.User">
        select * from t_user where phone = #{userPhone} and password = #{passWord}
    </select>
</mapper>